

.ReactModal__Html--open,
.ReactModal__Body--open {
  overflow: hidden;
  background-color: rgb(228, 228, 238);
  margin-left: 100%;
}

.ReactModal__Overlay {
  position: relative;
  z-index: 999999;
  top: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.3);
  display:flex !important;
  align-items: left;
  justify-content: center;
}

.ReactModal__Content {
    background: rgb(199, 189, 189);
    outline: none;
    width: 23rem;
    max-width: calc(100vw - 2rem);
    max-height: calc(100vh - 2rem);
    box-shadow: 0 0 34px 0 rgba(0, 0, 0, 0.24);
    overflow-y: auto;
    display:flex !important;
    margin: auto;

}

